APP_NAME=DoAnHTTT
APP_ENV=production
APP_KEY=base64:6NW/2dSZ61fnKuOY8cq+jKuPY3QTpGv+DoaGfQ4yb8o=
APP_DEBUG=false
APP_URL=${RAILWAY_STATIC_URL}

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=switchyard.proxy.rlwy.net
DB_PORT=24691
DB_DATABASE=DOANHTTT
DB_USERNAME=root
DB_PASSWORD=UbWbRbQPEQDPKFuiMoTOPeQBgNRQRZEN

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@${RAILWAY_STATIC_URL}"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
